
html, body {
    background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

#root, .App { 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 20px;
  display: flex;
  width: 100%;   
}

section .weather {
  color: white;
  border: 1px solid #ccc;
  /* flex: 1; */
  padding: 10px;
  text-align: center;
  width: 150px;
}

.weather span {
  font-weight: bold;
}
